$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;

$color-dark: #333;
$color-light: #fff;
$color-main: #ff6b6b;

$font-header: 'Oswald', sans-serif;
$font-text: 'Lato', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all .3s;
$radius: 4px;

$base-size: 12px;

// ------------- //

.home-page{
  max-width: 750px;
  display: flex;
  justify-content: center;
}

.home-style{
  display: flex;
  margin: 42px auto;
  padding: 50px 40px;
  background: #fff;
  border-radius: 4px;
  flex-wrap: wrap;

}

.picture-box-wrapper{
  display: flex;
  width: 700px;
  height: 160px;

  .box {
    flex-grow: 1;
    margin-right: 3px;
    margin-bottom: 4.5px;

      h2 {
        top: -120px;
        left: 90px;
        position: relative;
        z-index: 15;
        color: #fff;
        text-decoration: none;
      }
      h2:hover {
        transform: scale(1.1);
        text-decoration: none;

      }
      a{
        text-decoration: none;
      }

  }

}



.opening {
  width: 100%;
  background-color: $color-main;
  h2 {
    color: $color-light;
    position: relative;
    left: 35%;
    text-align: justify;
  }
  p {
    color: $color-light;
    position: relative;
    left: 33%;
    text-align: justify;
  }
}

.order{
  object-fit: cover;
  width: 50%;
  text-decoration: none;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
}

.booking {
  width: 50%;
  text-decoration: none;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
}

.main-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

.main-gallery img {
  flex:1;

  margin-right: 2px;
  margin-bottom: 2px;

  width: 150px;
  height: 150px;

}
